<a href="https://colab.research.google.com/github/Athitiya00/DWDM21/blob/main/Chapter6_Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM2021_DATA' #สร้างตัวแปรเชื่อมไปที่ drive

Mounted at /content/drive

In [3]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding = 'latin1')
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

### [Q] มีประเทศสาขาของ supermaket นี้ทั้งหมดกี่ประเทศ

In [4]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

In [5]:
len(set(data['Country']))

38

### [HW13] วาดกราฟสรุปจำนวน items และ ยอดขายของแต่ละประเทศ

In [15]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [16]:
data.groupby('Description').sum()

                                Quantity  UnitPrice  CustomerID
Description
 4 PURPLE FLOCK DINNER CANDLES       144     100.67    631941.0
 50'S CHRISTMAS GIFT BAG LARGE      1913     185.28   1687133.0
 DOLLY GIRL BEAKER                  2448     271.38   2072298.0
 I LOVE LONDON MINI BACKPACK         389     405.80   1089559.0
 I LOVE LONDON MINI RUCKSACK           1       4.15     14646.0
...                                  ...        ...         ...
wrongly marked carton 22804         -256       0.00         0.0
wrongly marked. 23343 in box       -3100       0.00         0.0
wrongly sold (22719) barcode         170       0.00         0.0
wrongly sold as sets                -600       0.00         0.0
wrongly sold sets                   -975       0.00         0.0

[4223 rows x 3 columns]

In [17]:
import matplotlib.pyplot as plt

In [19]:
items = data['Description'].unique()

tick_label = ['Country']

plt.bar(Description, UnitPrice, tick_label = tick_label,
        width = 0.8, color = ['red', 'green'])

plt.xlabel('Country')
# naming the y-axis
plt.ylabel('items')

 
# function to show the plot
plt.show()

NameError: ignored