<a href="https://colab.research.google.com/github/Athitiya00/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี  package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น  package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas # วิธีเเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd # ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ส่วนใหญ่จะใช้ไฟล์ .csv (CSV = comma seprated values) เป็นไฟล์หลักที่เราจะใช้ในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv') #เรียกใช้ตารางที่เราสร้างโดยใช้ทำสั่ง pd.read_csv('_')

In [4]:
data_df #แสดงตาราง data.csv

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [5]:
data_df2 = pandas.read_csv('data.csv') 
data_df2 #ใช้คำสั่งในเซลล์เดียวกันได้

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables ตัวแปร

ข้อกำหนดในการตั้งชื่อตัวแปร

1.   ชื่อห้ามมีเว้นวรรค
2.   พยายามใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12 #ตัวเลขไม่ต้องใส่ quote
variable_b = 'abcde' # ' เรียกว่า quote #ข้อมูลที่เป็นตัวหนังสือให้ใส่ quote
variable_c = variable_a #

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

###ลองทำตามข้อกำหนด

In [10]:
variable a = 6 #ชื่อห้ามมีเว้นวรรค

SyntaxError: ignored

In [11]:
#coladใช้ภาษาไทยได้แต่ไม่ควรใช้
ตัวแปร = 3 
ตัวแปร

3

In [12]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a =2
print(v_a)
print(V_a)

1
2

In [13]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a =2
print(v_a)
print(v_a)

2
2

In [14]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [15]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [16]:
print(variable1)

1

In [17]:
variable_a = 12 #ตัวเลขไม่ต้องใส่ quote
variable_b = 'abcde' # ' เรียกว่า quote #ข้อมูลที่เป็นตัวหนังสือให้ใส่ quote
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote ใช้อันนี้ก็ได้

In [18]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [19]:
variable_a + variable_b #ตัวเลขกับตัวอักษรบวกกันไม่ได้

TypeError: ignored

In [20]:
print(variable_b + variable_4) #ตัวแปรชนิดเดียวกันบวกกันได้

abcdeKKU

# Casting int() float() str()

In [21]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [22]:
print(str(variable_x))

-29.200000000000003

In [23]:
v_x = str(variable_x)
print(v_x)

-29.200000000000003

In [25]:
v_x + variable_a #ไม่สามารถบวกได้

TypeError: ignored

In [26]:
variable_a + v_x

TypeError: ignored

In [27]:
v_x #เป็น str เนื่องจากการแสดงผลมี qoute

'-29.200000000000003'

In [28]:
float(v_x) # เปลี่ยนค่าเป็นตัวเลขโดยใช้คำสั่ง float

-29.200000000000003

# Data Structure

### list()

In [29]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [30]:
list_a

[1, 2, 0.2, 'abs']

In [31]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [32]:
len(list_b) # นับจำนวนว่าในlistมีกี่ตัว

4

In [33]:
list_b[3]# ชี้ตัวที่3ของlist

[1, 2, 0.0]

In [34]:
list_b[3][1] #ชี้ตัวที่3ของlist_bและชี้ตัวที่1ในตัวที่3อีกที

2

## string คือ list ของตัวหนังสือ

In [35]:
a = 'Stat KKU'

In [36]:
a[4] #ได้วรรค

' '

## วิธีสร้าง list ว่าง

In [37]:
list_c = list() # แบบที่ 1
list_d = [] #แบบที่ 2

In [38]:
list_c

[]

In [39]:
list_d

[]

## เติมค่าเข้าใน list (.append())

In [40]:
list_d.append('a')

In [41]:
list_d

['a']

In [42]:
list_d.append(56)

In [43]:
ilist_d

NameError: ignored

### การชี้ค่าใน list (indexing)

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [44]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [45]:
list_b[-1]

[1, 2, 0.0]

## list slicing

In [46]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

In [47]:
list_ex[1:6] #เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [48]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [49]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

## [จุดเริ่มต้น:จุดสุดท้าย:step]

In [50]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [51]:
list_ex[::2]#เลือกตัวแรกเว้น1เอาตัวที่2 (กระโดด)

[1, 3, 6, -1, 50]

In [52]:
list_ex[::-1]#ใช้ step -1 มันจะกลับ list ให้

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [53]:
a

'Stat KKU'

ตัดให้เหลือแค่คำว่า'KKU'

In [54]:
a[5:]

'KKU'

In [55]:
a[-3:]

'KKU'

In [56]:
a[4::]

' KKU'

In [57]:
a[5:8]

'KKU'

In [58]:
a[5::]

'KKU'

In [59]:
a[-3::]

'KKU'

### list+list

In [60]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [61]:
list_a + list_b #list2ตัวมาต่อกัน

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [62]:
list_b + list_a  #ถ้าสลับตำแหน่งก็จะเรียงสลับก่อน

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0], 1, 2, 0.2, 'abs']

### format string

``` python
f 'string{ตัวแปร}'
```

{} เรียกว่า

In [63]:
f'ตัวแปร list_a มีค่าคือ{list_a}'

"ตัวแปร list_a มีค่าคือ[1, 2, 0.2, 'abs']"

# Loop

ทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน

indent(เว้น)
``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิตส์ที่จะนำมาวนลูป:
     do something #in_loop
     do another thing #in_loop

do other things #out side loop
```

In [64]:
for i in [1,2,3,4,5]:
     print(i)

1
2
3
4
5

In [65]:
for i in [1,2,3,4,5]:
     print(i+1)

2
3
4
5
6

In [66]:
for x in [1,2,3,4,5]:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [67]:
list5=[1,2,3,4,5]
for x in list5:#วนลูปโดยใช้ชื่อเดิมลูปเดิม
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
for i in range(2,7):#เริ่มจาก2ถึงตัวก่อน7
     print(i)

2
3
4
5
6

In [70]:
for i in range(2,7,2):#เริ่มจาก2ถึงตัวก่อน7กระโดด1ตัว สเตป2
     print(i)

2
4
6

In [71]:
for i in range(5):
     print('hahaha')
     x = i+3
     print(f' i={i} x={x} ')

hahaha
 i=0 x=3
hahaha
 i=1 x=4
hahaha
 i=2 x=5
hahaha
 i=3 x=6
hahaha
 i=4 x=7

## Nested loop

loopซ้อนloop

In [72]:
for i in range(3):
     print(f'now i = {i}')
     print('start j loop')
     for j in range(4):
          print(f' i={i} j={j} i+j={i+j}')

now i = 0
start j loop
 i=0 j=0 i+j=0
 i=0 j=1 i+j=1
 i=0 j=2 i+j=2
 i=0 j=3 i+j=3
now i = 1
start j loop
 i=1 j=0 i+j=1
 i=1 j=1 i+j=2
 i=1 j=2 i+j=3
 i=1 j=3 i+j=4
now i = 2
start j loop
 i=2 j=0 i+j=2
 i=2 j=1 i+j=3
 i=2 j=2 i+j=4
 i=2 j=3 i+j=5

# Condition (if statement)

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [73]:
stringx = 'asdfghjklkjcvbnmlkiuytdseaskucres'

if len(stringx) > 30:
    print(f'{stringx} is longer then 30 cherecters')

asdfghjklkjcvbnmlkiuytdseaskucres is longer then 30 cherecters

In [74]:
stringx = 'asdfghjklkjcvbnmlkiuytdseaskucres'

if len(stringx) > 100:
    print(f'{stringx} is longer then 30 cherecters')

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [75]:
stringx = 'asdfghjklkjcvbnmlkiuytdseaskucres'

if len(stringx) > 100:
    print(f'{stringx} is longer then 30 cherecters')
else:
    print(f'{stringx} in {len(stringx)} cherecters long')#ถ้าไม่มากกว่า100ให้แสดงว่ามีกี่ตัว

asdfghjklkjcvbnmlkiuytdseaskucres in 33 cherecters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [76]:
password = '12345'

input_pass = '123'
if input_pass == password:
    print('Wlcome!')
elif len(input_pass) > len(password):
    print('Too long, tyr again')
elif len(input_pass) > len(password):
    print('Too shot, tyr again')
else:
    print('Wrong password, tyr again!')

Wrong password, tyr again!

###Quiz 1 หา min

In [77]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list โดยไม่ใช้ function  (commit ก่อน 10.30 : quiz 1)

In [78]:
list_ex[3:4:2]#ง่ายไปใช้ไม่ได้นะ อย่าหาทำ!!!!

[-19]

### เฉลยquiz1

In [79]:
min = 100000000 #ทำแบบนี้สิ

for i in list_ex:
     if i < min:
         min = i

print(min)

-19

In [80]:
min = 100000000 #ทำแบบนี้สิ
print(list_ex)
for i in list_ex:
     print(f'now i = {i},min = {min}')
     print('start condition')
     if i < min:
         print(f'i<min, update min -> {i}')
         min = i
     else:
         print('not update')
     print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1,min = 100000000
start condition
i<min, update min -> 1
end condition, go to next i
now i = 5,min = 1
start condition
not update
end condition, go to next i
now i = 9,min = 1
start condition
not update
end condition, go to next i
now i = -19,min = 1
start condition
i<min, update min -> -19
end condition, go to next i
now i = -2,min = -19
start condition
not update
end condition, go to next i
now i = 0,min = -19
start condition
not update
end condition, go to next i
-19

### HW ตัดเกรด

In [81]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score โดยใช้ (if กับ for)

In [82]:
for i in score:

  if i >= 80:
    print(f'{i} คะแนน = เกรด A')
  elif i >= 75 and i < 80:
    print(f'{i} คะแนน = เกรด B+')
  elif i >= 70 and i < 75:
    print(f'{i} คะแนน = เกรด B')
  elif i >= 65 and i < 70:
    print(f'{i} คะแนน = เกรด C+')
  elif i >= 60 and i < 65:
    print(f'{i} คะแนน = เกรด C')
  elif i >= 55 and i < 60:
    print(f'{i} คะแนน = เกรด D+')
  elif i >= 50 and i < 55:
    print(f'{i} คะแนน = เกรด D')
  else:
    print(f'{i} คะแนน = เกรด F')

49 คะแนน = เกรด F
65 คะแนน = เกรด C+
70 คะแนน = เกรด B
95 คะแนน = เกรด A
82 คะแนน = เกรด A
55 คะแนน = เกรด D+
89 คะแนน = เกรด A
20 คะแนน = เกรด F
77 คะแนน = เกรด B+
77 คะแนน = เกรด B+
81 คะแนน = เกรด A
59 คะแนน = เกรด D+
10 คะแนน = เกรด F

# Function